@model ContatoModel
@{
    ViewData["Title"] = "Editar contato";
}
 <div class="text-center">

    <h1 class="display-4">Editar Contato</h1>
    
 </div>

<form asp-controller="Contato" asp-action="Alterar" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Thiago">
    </div>
    <br />

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Thiago@gmail.com">
    </div>
    <br />

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="(**)*****-****">
    </div>
    <br />


    <button type="submit" class="btn btn-primary">Alterar</button>
</form>