@model ContatoModel
@{
    ViewData["Title"] = "Adicionar contatos";
}
<div class="text-center">

    <h1 class="display-4">Adicionar Contato</h1>

</div>

<form asp-controller="AdicionarContato" asp-action="Adicionar" method="post">
    <div class="form-group">
        <label for="Nome">Nome</label>
        <input type="text" asp-for="Nome" class="form-control" placeholder="Thiago">
    </div>
    <br />

    <div class="form-group">
        <label for="Email">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="Thiago@gmail.com">
    </div>
    <br />

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="text" asp-for="Telefone" class="form-control" placeholder="(**)*****-****">
    </div>
    <br />


    <button type="submit" class="btn btn-primary">Adicionar</button>
</form>
