@{
    ViewData["Title"] = "Página inicial";
}

<div class="text-center">
    <h1 class="display-4">Bem vindo!</h1>
    <p> Sistema de controle de Contatos </p>

</div>

<form>
    <div class="form-group">
        <label for="Login">Login</label>
        <input type="text" class="form-control"  placeholder="Login">
    </div>
    <br />

    <div class="form-group">
        <label for="Senha">Senha</label>
        <input type="password" class="form-control" placeholder="Senha">
    </div>
    <br />
    
    <a class="btn btn-secondary" role="button" asp-controller="Contato" asp-action="Index">Entrar</a>
</form>